html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 20;
  font-family: sans-serif;
  background-color: dimgray;
}

/*-----Header-----*/

a {
  color: white;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  background: rgba(0,0,0,0.2);
  padding: 20px 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition: all 0.5s;

}

a:hover {
  background: rgba(0,0,0,0.3);
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;

}

/*Affects Menu Box*/

.flex-nav ul{
  display: flex;
  /*border: 1px solid black;*/
  list-style: none;
  margin: 0;
  padding: 0;
  /*position: fixed;*/
}

.flex-nav li {
  flex: 3;
}

.flex-nav .social {
  flex: 1;
}

.nav-menu {
  display: none;
}

@media all and (max-width:1000px) {
  
.flex-nav ul {
  flex-wrap: wrap;
}

.flex-nav li {
  flex: 1 1 25%;
}

.flex-nav .social {
  flex: 1 1 25%;
}

.nav-menu {
  display: none;
}

}

@media all and (max-width: 500px) {
 
.flex-nav li {
  flex-basis: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.flex-nav {
  order: -1;
}

.nav-menu {
  display: block;
}

}

/*------Body------*/

#background {
  width: 100%;
}

/*-----Footer-----*/

